from fastapi import APIRouter, Depends, HTTPException, status
from app.modules.{{name_lower}}.schemas import {{name_title}}Schema
from app.modules.{{name_lower}}.service import {{name_title}}Service

router = APIRouter(prefix="/{{name_plural}}", tags=["{{name_title}}"])
